.duany-coverblock {
  margin-top: 16em;
  margin-left: 3em!important;
  margin-right: 3em!important;
}

.duany-hstripe {
  border: none;
  height: 1.2em;
  width: 8em;
  background: black;
  margin-left: 0;
}

.duany-title {
  font-size: 6em;
}

.duany-header {
  font-size: 3em;
}

.duany-description {
  font-size: 1.8em;
}

.duany-unitcards.ui.cards>.card {
  border-radius: 0;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .07);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 8em;
}

.duany-unitcards.ui.cards>.card:hover {
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, .15);
  transform: translate(0px, -2px)
}

.duany-unitcards.ui.cards>.card>.content {
  border: none;
}

.duany-unitcards.ui.cards>.card>.content>.header {
  color: white;
  font-size: 1.8em;
}

.duany-unitcards.ui.cards>.duany-neighborhoods-unit.card {
  background-image: url("../img/Neighborhoods.png");
}

.duany-unitcards.ui.cards>.duany-power-unit.card {
  background-image: url("../img/Power.png");
}

.duany-unitcards.ui.cards>.duany-growth-unit.card {
  background-image: url("../img/Growth.png");
}

.duany-unitcards.ui.cards>.duany-transportation-unit.card {
  background-image: url("../img/Roads.png");
}

.duany-unitcards.ui.cards>.duany-town-center-unit.card {
  background-image: url("../img/Town%20Center.png");
}

.duany-unitcards.ui.cards>.duany-parks-unit.card {
  background-image: url("../img/Parks.png");
}
